In [4]:
# Q. Declare a boolean value and store it in a variable.
# Check the type and print the id of the same.

a = True;
b = False;

type(a)
type(b)

bool

In [10]:
# Q. Take one boolean value between 0 - 256.Assign it to two different variables.
# Check the id of both the variables. It should come the same. Check why?

a = bool(100)

id(a)

4492334384

In [11]:
b = bool(100)
id(b)

4492334384

q3.Arithmetic Operations on boolean data
Take two different boolean values.
Store them in two different variables.
Do below operations on them:-
Find sum of both values
Find difference between them
Find the product of both.
Find value after dividing first value with second value
Find the remainder after dividing first value with second value
Find the quotient after dividing first value with second value
Find the result of first value to the power of second value.

In [13]:
a = bool(100)
b = bool(200)

In [15]:
#Find sum of both values

c = (a+b)
print(c)

2

In [23]:
#Find difference between them

w = (a!=b)
print(w)

False

In [16]:
#Find product of both values

d = (a*b)
print(d)

1

In [17]:
#Find value after dividing first value with second value

f = (a/b)
print(f)

1.0

In [18]:
#Find the remainder after dividing first value with second value

g = (a%b)
print(g)

0

In [19]:
#Find the quotient after dividing first value with second value

h = (a//b)
print(h)

1

In [20]:
#Find the result of first value to the power of second value.

i = (a**b)
print(i)

1

Q. Comparison Operators on boolean values
Take two different boolean values.
Store them in two different variables.
Do below operations on them:-
Compare these two values with below operator:-
Greater than, '>'
less than, '<'
Greater than or equal to, '>='
Less than or equal to, '<='
Observe their output(return type should be boolean)

In [24]:
c = bool(20)
d = bool(23)

In [25]:
#Greater than, '>'
c>d

False

In [26]:
#less than, '<'
c<d

False

In [27]:
#Greater than or equal to, '>='
c>=d

True

In [28]:
#Less than or equal to, '<='
c<=d

True

Q. Equality Operator
Take two different boolean values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [29]:
a = bool(6)
b = bool(9)

In [30]:
#Equate them using equality operator ==

a == b

True

In [31]:
a!=b

False

Logical operators
Observe the output of below code
Cross check the output manually

print(True and True)
#----------------------------------------->Output is True

print(False and True)
#----------------------------------------->Output is False
print(True and False)
#----------------------------------------->Output is False
print(False and False)
#----------------------------------------->Output is False
print(True or True)
#----------------------------------------->Output is True
print(False or True)
#----------------------------------------->Output is True
print(True or False)
#----------------------------------------->Output is True
print(False or False)
#----------------------------------------->Output is False
print(not True)
#----------------------------------------->Output is False
print(not False)
#----------------------------------------->Output is True

In [32]:
print(True and True)

True

In [46]:
print(100 and 200)

200

In [35]:
print(False and True)

False

In [45]:
print(0 and 200)

0

In [40]:
print(True and False)

False

In [44]:
print(20 and 0)

0

In [42]:
print(False and False)

False

In [43]:
print(0 and 0)

0

In [47]:
print(True or True)

True

In [48]:
print(20 or 30)

20

In [49]:
print(False or True)

True

In [50]:
print(0.0 or 1.0)

1.0

In [51]:
print(True or False)

True

In [52]:
print(2 or 0.0)

2

In [53]:
print(False or False)

False

In [54]:
print(0 or 200)

200

In [55]:
print(not True)

False

In [56]:
print(not 1)

False

In [58]:
print(not False)

True

In [59]:
print(not 0)

True

Q. Bitwise Operators
Do below operations on the values provided below:-
Bitwise and(&) --------------> True, True -------> Output is True
Bitwise or(|) --------------> True, False -------> Output is True
Bitwise(^) --------------> True, False -------> Output is True
Bitwise negation(~) ---------> True -------> Output is -2
Bitwise left shift ---------> True,2 -------> Output is 4
Bitwise right shift ---------> True,2 -------> Output is 0
Cross check the output manually

x = 11
y = 4

#1st step - convert the values into bits
10 --> binary ---> 1011
4 --> binary ---> 100


#2nd step - do the and operation on binary value

10 --> 1 0 1 1
4. --> 0 1 0 0
and -> 0 0 0 0

#3rd step - conver the final answer 0000 to numbers
0000 ---> 0

In [63]:
print(11&4)

0

In [ ]:
x = 11
y = 4

#1st step - convert the values into bits
10 --> binary ---> 1011
4 --> binary ---> 100


#2nd step - do the or operation on binary value

10 --> 1 0 1 1
4. --> 0 1 0 0
and -> 1 1 1 1

#3rd step - conver the final answer 1111 to numbers
1111 ---> 15

In [65]:
print(11|4)

15

In [ ]:
x = 11
y = 4

#1st step - convert the values into bits
10 --> binary ---> 1011
4 --> binary ---> 100


#2nd step - do the xor operation on binary value

10 --> 1 0 1 1
4. --> 0 1 0 0
and -> 1 1 1 1

#3rd step - conver the final answer 1111 to numbers
1111 ---> 15

In [67]:
print(11^4)

15

In [69]:
# x = 4
"""
add 1 to a number
reverse a sign
"""

print(~4)

-5

In [70]:
# bitwise right shift A // (2**n)

print(200>>3) # A=200 and n=3

25

In [73]:
# bitwise left shift A * (2**n)

print(200<<3)

1600

Q. What is the output of expression inside the print statement. Cross
check before running the program.
a = True
b = True
print(a is b) #True or False? #

print(a is not b) #True or False?
a = False
b = False
print(a is b) #True or False?
print(a is not b) #True or False?

In [77]:
a = True
b = True

In [78]:
print(a is b)

True

In [79]:
a = False
b = False
print(a is b)

True

In [80]:
print(a is not b)

False

Q. Membership operation
in, not in are two membership operators and it returns boolean value
print(True in [10,10.20,10+20j,'Python', True])
print(False in (10,10.20,10+20j,'Python', False))
print(True in {1,2,3, True})
print(True in {True:100, False:200, True:300})
print(False in {True:100, False:200, True:300})

In [81]:
print(True in [10,10.20,10+20j,'Python', True])

True

In [82]:
print(False in (10,10.20,10+20j,'Python', False))

True

In [83]:
print(True in {1,2,3, True})

True

In [84]:
print(True in {True:100, False:200, True:300})

True

In [85]:
print(False in {True:100, False:200, True:300})

True

# ********Thank-You**********

In [86]:
pwd

'/Users/apple/Tutort Assignments'