In [ ]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

In [5]:
emp_info = {}
emp_info['Tom']={'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

emp_info['Tom']

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}

In [ ]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

In [10]:

lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

print(dict(zip(emp_key,emp1_val)))
print(dict(zip(emp_key,emp2_val)))
print(dict(zip(emp_key,emp3_val)))

{'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}
{'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}
{'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}

In [15]:
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

emp_info = {}
for i, val in enumerate(lst1):
    emp_info[val] = dict(zip(emp_key, [emp1_val[i], emp2_val[i], emp3_val[i]]))

print(emp_info)

{'emp1': {'e_name': 'John', 'e_id': 'Smith', 'e_sal': 'Peter'}, 'emp2': {'e_name': 'SG101', 'e_id': 'SG102', 'e_sal': 'SG103'}, 'emp3': {'e_name': '$10,000', 'e_id': '$9,000', 'e_sal': '$9,500'}}

In [23]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

history_marks = sampleDict["class"]["student"]["marks"]["history"]
print(history_marks)

80

In [9]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

employee_details = {employee: defaults for employee in employees}

print(employee_details)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [24]:
#In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

def dna_to_mrna(dna_strand):
    base_map = {"A": "U", "T": "A", "C": "G", "G": "C"} # dictionary mapping DNA to RNA bases
    mrna_transcript = ""
    for base in dna_strand:
        mrna_transcript += base_map[base]
    return mrna_transcript

In [25]:
dna_strand = "ATCG"
mrna_transcript = dna_to_mrna(dna_strand)
print(mrna_transcript)

UAGC

In [31]:
 #Write a function which takes a word as input and returns a 
  #dictionary with letters as key and no of time letters are repeated as value.

# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

count_letter=('google.com')

output = {}
for i in count_letter:
    if i in output:
        output[i]+=1
    else:
        output[i]=1
print(output)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented 
#with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

In [34]:
baseComposition = ("CTATCGGCACCCTTTCAGCA")

output = {}
for i in baseComposition:
    if i in output:
        output[i]+=1
    else:
        output[i]=1
print(output)

{'C': 8, 'T': 5, 'A': 4, 'G': 3}

In [35]:
baseComposition = ("AGT")

output = {}
for i in baseComposition:
    if i in output:
        output[i]+=1
    else:
        output[i]=1
print(output)

{'A': 1, 'G': 1, 'T': 1}

In [ ]:
# [MCQ] Suppose "d" is an empty dictionary, 
which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

In [36]:
d = {"Name": "Tom" }
print(d)

{'Name': 'Tom'}

In [38]:
d["Name"] = "Tom"
print(d)

{'Name': 'Tom'}

In [40]:
d.update({"Name": "Tom" })
print(d)

{'Name': 'Tom'}

In [41]:
d.setdefault("Name", "Tom")
print(d)

{'Name': 'Tom'}

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

In [46]:
d = {"a":1, "b":2}
d.values()
print(d)
d.items()
print(d)
d.popitem()
print(d)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2}
{'a': 1}

In [ ]:
[MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

In [47]:
d = {"Name": "Tom" }
print(d)

{'Name': 'Tom'}

In [48]:
d = { (1,3,4): 4.5 }
print(d)

{(1, 3, 4): 4.5}

In [49]:
d = { ["First", "Last"]: (1,3) }
print(d)

TypeError: unhashable type: 'list'

In [50]:
d = { 1: 0.4 }
print(d)

{1: 0.4}

In [ ]:
option C

In [68]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []



def reverseLookup(dictionary, value):
    keys = []
    for key in dictionary:
        if dictionary[key] == value:
            keys.append(key)
    return sorted(keys)

In [69]:
reverseLookup({'a':1, 'b':2, 'c':2}, 1)
#reverseLookup({'a':1, 'b':2, 'c':2}, 2)
#reverseLookup({'a':1, 'b':2, 'c':2}, 3)

['a']

In [70]:
reverseLookup({'a':1, 'b':2, 'c':2}, 2)

['b', 'c']

In [71]:
reverseLookup({'a':1, 'b':2, 'c':2}, 3)

[]

In [ ]:
# Write a function invertDictionary(d) that takes in a dictionary as 
argument and return a dictionary that inverts the keys 
and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [90]:
def invertDictionary(d):
    inverted_d = {}
    for key in d:
        value = d[key]
        if value not in inverted_d:
            inverted_d[value] = [key]
        else:
            inverted_d[value].append(key)
    return inverted_d

In [91]:
invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})

{1: ['a'], 2: ['b', 'd'], 3: ['c']}

In [92]:
invertDictionary({'a':3, 'b':3, 'c':3})

{3: ['a', 'b', 'c']}

In [93]:
invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})

{2: ['a', 'c'], 1: ['b', 'd']}

In [ ]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

In [102]:
sampleDict = {  "name": "Kelly","age":25, "salary": 8000,  "city": "New york"}

In [103]:
sampleDict.pop("name")
print(sampleDict)

{'age': 25, 'salary': 8000, 'city': 'New york'}

In [101]:
print(sampleDict)

{'age': 25, 'salary': 8000, 'city': 'New york'}

In [105]:
sampleDict.pop("salary")

8000

In [106]:
print(sampleDict)

{'age': 25, 'city': 'New york'}

In [ ]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

In [116]:
a = {'a': 100, 'b': 200, 'c': 300}
if 200 in a.values():
    print("True")
else:
    print("False")

True

In [ ]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

In [135]:
a = { 'Physics': 82,   'Math': 65,   'history': 75}

out = []
for i in a:
    if i == 'Math':
        out.append(i)
print(out)

['Math']

In [ ]:
#Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

In [122]:
sampleDict = {      'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000},
      'emp3': {'name': 'Brad', 'salary': 6500}}

print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 6500}}