Q. Declare a float value and store it in a variable.
Check the type and print the id of the same.

In [1]:
a = 23.4
type(a)

float

In [ ]:
Arithmetic Operations on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Find sum of both numbers
Find difference between them
Find the product of both numbers.
Find value after dividing first num with second number
Find the remainder after dividing first number with second number
Find the quotient after dividing first number with second number
Find the result of the first num to the power of the second number.

In [2]:
a = 2.5
b = 1.5


#Find sum of both numbers
print(a+b)


#Find difference between them
print(b-a)

#Find the product of both numbers.
print(a*b)

#Find value after dividing first num with second number
print(a/b)

#Find the remainder after dividing first number with second number
print(a%b)

#Find the quotient after dividing first number with second number
print(a//b)

#Find the result of the first num to the power of the second number.
print(a**b)

4.0
-1.0
3.75
1.6666666666666667
1.0
1.0
3.952847075210474

In [ ]:
Comparison Operators on float
Take two different float values.
Store them in two different variables.
Do below operations on them:-
Compare these two numbers with below operator:-
Greater than, '>'
Smaller than, '<'
Greater than or equal to, '>='
Less than or equal to, '<='
Observe their output(return type should be boolean)

In [3]:
a = 4.5
b = 2.5

#Greater than, '>'
print(a>b)

#Smaller than, '<'
print(a<b)

#Greater than or equal to, '>='
print(a>=b)

#Less than or equal to, '<='
print(a<=b)

#Observe their output(return type should be boolean)

True
False
True
False

In [ ]:
Q. Equality Operator
Take two different float values.
Store them in two different variables.
Equate them using equality operators (==, !=)
Observe the output(return type should be boolean)

In [4]:
a = 8.2
b = 5.5

#Equate them using equality operators (==, !=)
print(a==b)
print(a!=b)

False
True

 Logical operators
Observe the output of below code
Cross check the output manually
print(10.20 and 20.30) #both are true and second value taken
>Output is 20.3
print(0.0 and 20.30) #First is false so first value
taken->Output is 0.0

print(20.30 and 0.0) #Goes to till second and second value is
false so second is taken>Output is 0.0
print(0.0 and 0.0) #First is false so first value is
taken->Output is 0.0
print(10.20 or 20.30) #First is True so first value is
taken>Output is 10.2
print(0.0 or 20.30) #Goes to till second and second is true
second value is taken->Output is 20.3
print(20.30 or 0.0) #First is True so first value is
taken->Output is 20.3
print(0.0 or 0.0) #Goes to till second and second is also
false and second value is taken>Output is 0.0
print(not 10.20) #-Not of true is false->Output is False
print(not 0.0) #Not of false is True>Output is True


##yes checked manually ....................

In [ ]:
Q. What is the output of expression inside print statement. Cross check
before running the program.
a = 10.20
b - 10.20
print(a is b) #True or False? True 10.20<256
print(a is not b) #True or False? False
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same

In [26]:
a=10.20
b-10.20

print(a is b)
print(b is a)

False
False

In [13]:
print(a)

10.2

In [14]:
print(b)

5.5

In [15]:
print(b-a)

-4.699999999999999

In [22]:
a = float(10.20)
b = float(10.20)

id(a)

140163619457008

In [23]:
id(b)

140163619455664

In [24]:
print(a is b)

False

In [25]:
print(b is a)

False

In [29]:
a=20
b=20

id(a)

140163557759888

In [30]:
id(b)

140163557759888

In [33]:
Q. Bitwise operation is not applicable between instances of float.
Why the Id of float values are different when the same value is
assigned to two different variables
ex: a = 10.5 b=10.5. but id will be same if I assign the variable
having float i.e. a=c then both a and c's Id are same
Object reusability concept is not applicable on float values.

a=2.5
b=!a

SyntaxError: invalid syntax (1142883710.py, line 1)

In [ ]:
Q. Membership operation
in, not in are two membership operators and it returns boolean value
print('2.7' in 'Python2.7.8') #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j}) # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20)) # True

In [37]:
print('2.7' in 'Python2.7')

True

In [40]:
print(10. in [10,10.,10+20j,'Python'])

True

In [41]:
print(range(20))

range(0, 20)

In [42]:
print(10 in range(20))

True

In [44]:
print('2.7' not in 'Python2.7.8')

False

In [ ]:
print('2.7'  'Python2.7.8')