In [1]:
#Declare a string and store it in a variable. 

a = "hey rohith"

In [2]:
#Check the type and print the id of the same.

type(a)

str

In [ ]:
#Which are valid/invalid strings
1. 'This is Python class'
valid/invalid = valid

2. "This is Python class"
valid/invalid = valid

3. '''This is Python class'''
valid/invalid = valid

4. """This is Python class"""
valid/invalid = valid

5. 'This is Python's class'
valid/invalid = invalid

6. "Learnbay provides "Java", "Python" classes"
valid/invalid = invalid

7. "Learnbay provides 'Java', 'Python' classes"
valid/invalid = valid

8. "This is Python's class"
valid/invalid = valid

9. """Learnbay provides "Java", "Python" classes"""
valid/invalid = valid

10. '''Learnbay provides "Java", "Python" classes'''
valid/invalid   #

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid/invalid = valid

12. 'This is
Python 
class'
valid/invalid = invalid

In [ ]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print()
#output:- The length of my_str is 66

print()
#output:- id of my_str and my_str1 is same? - True

print()
#output:- Type of my_str is: str

In [15]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
a = len(my_str)
print(f'The length of my_str is {a}')

The length of my_str is 66

In [17]:
my_str1 = "Although that way may not be obvious at first unless you're Dutch."
b = len(my_str1)
print(b)

66

In [19]:
id(a)

140673735262608

In [20]:
id(b)

140673735262608

In [27]:
c = (my_str is my_str1)
print(c)

False

In [29]:
print(f'id of my_str and my_str1 is same? - {c}')

id of my_str and my_str1 is same? - False

In [32]:
print(f'Type of my_str is: {type(my_str)}')

Type of my_str is: <class 'str'>

In [ ]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print 
statement. use indexing

print()
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print()
#output:- The first character in my_str is: h
#Note:- Use len() function.

print()
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

print()
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print()
#output:- The last character in my_str is: h
#Note:- Use len() function.

print()
#output:- The character in my_str is: 8
#Note:- Use positive index

In [37]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
b = my_str[0]
print(f'The first character in my_str is: {b}')

The first character in my_str is: A

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
# Use len() function
print("The first character in my_str is:", my_str[len(my_str)-1])

In [45]:
c=my_str[10]
print(f'The character at index 10 in my_str is: {c}' )

The character at index 10 in my_str is:

In [46]:
print("The last character in my_str is:", my_str[-1])

The last character in my_str is: h

In [47]:
print("The last character in my_str is:", my_str[len(my_str)-1])

The last character in my_str is: h

In [49]:
print("The character in my_str is:", my_str[9])

The character in my_str is: 8

In [ ]:
#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print 
statement. use slicing
print()
#output:- You have sliced: Although that way may not be obvious at first 
unless you're Dutch.Without begin, end and step


print()
#output:- You have sliced: Although that way may not be obvious at 
first unless you're Dutch.with begin as 0 end using len and without step


print()
#output:- You have sliced: Although that way may not be obvious at 
first unless you're Dutch.without begin and end but using step


print()
#output:- You have sliced: Although that way may not be obvious at 
first unless you're Dutch.With begin, end and step


print()
#output:- You have sliced:   .with using begin and end using postive values 
and step as negative values.
#Slicing command should print empty string.


print()
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print()
#output:- You have sliced: Ahgttam tebo  r lsorDc


print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output?


print()
#output:- You have sliced: yaw ta, Using begin, end and step.

print()
#output:- You have sliced: ess you. Using begin, end and step.

In [52]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
#print()
#output:- You have sliced: Although that way may not be obvious at first 
#unless you're Dutch.Without begin, end and step

print(my_str[::])

Although that way may not be obvious at first unless you're Dutch.

In [56]:
#print()
#output:- You have sliced: Although that way may not be obvious at 
#first unless you're Dutch.with begin as 0 end using len and without step

print(my_str[0:len(my_str)])

Although that way may not be obvious at first unless you're Dutch.

In [57]:
#print()
#output:- You have sliced: Although that way may not be obvious at 
#first unless you're Dutch.without begin and end but using step

print(my_str[:len(my_str):1])

Although that way may not be obvious at first unless you're Dutch.

In [67]:
print()
#output:- You have sliced: Although that way may not be obvious at 
#first unless you're Dutch.With begin, end and step

print(my_str[0:67:1])

Although that way may not be obvious at first unless you're Dutch.

In [59]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
len(my_str)

66

In [70]:
#print()
#output:- You have sliced:   .with using begin and end using postive values 
#and step as negative values.
#Slicing command should print empty string.

print(my_str[68:69:-1])

In [71]:

#print()
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth

print(my_str[0:66:2])

Atog htwymyntb biu tfrtuls o'eDth

In [74]:
#print()
#output:- You have sliced: Ahgttam tebo  r lsorDc

print(my_str[0:66:3])

Ahgttam tebo  r lsorDc

In [75]:
#print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step

print(my_str[::-1])

.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

In [80]:
#print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.

print(my_str[-1:-67:-1])

.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

In [81]:
#print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step

print(my_str[::-2])

.cu ruysen si asovoe o a a athuhl

In [82]:
#print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.

print(my_str[-1:-67:-2])

.cu ruysen si asovoe o a a athuhl

In [83]:

print(my_str[10:17:-1])
#What will be the output?

In [87]:

print(my_str[10:17:])
#What will be the output?

hat way

In [90]:
#print()
#output:- You have sliced: yaw ta, Using begin, end and step.

print(my_str[17:10:-1])

 yaw ta

In [91]:
#print()
#output:- You have sliced: ess you. Using begin, end and step.
print(my_str[-17:-10:1])

ess you

In [ ]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python


#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output
#Output is: LearnbayLearnbayLearnbay


#Error: TypeError: can't multiply sequence by non-int of type 'float'


#Error: TypeError: can't multiply sequence by non-int of type 'str'

In [98]:
str1 = 'Learnbay'
str2 = 'Python'

print(f"{str1} {str2}")

Learnbay Python

In [99]:
print(str1*3)

LearnbayLearnbayLearnbay

In [ ]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2


#print False by using identity operator between str1 and str3


#print False by using identity operator between str4 and str3


#Check if P is available in str1 and print True by using membership operator


#Check if $ is available in str3 and print True by using membership operator


#Check if N is available in str3 and print False by using membership operator

In [100]:
str1 = 'Python'
str2 = 'Python'
#print True by using identity operator between str1 and str2

print(str1 is str2 )

True

In [101]:
#print False by using identity operator between str1 and str3
str1 = 'Python'
str3 = 'Python$'
print(str1 is str3 )

False

In [102]:
#print False by using identity operator between str4 and str3
str3 = 'Python$'
str4 = 'Python$'
print(str3 is str4 )

False

In [104]:
str1 = 'Python'
print('P' in str1)

True

In [105]:
str3 = 'Python$'
print('$' in str3)

True

In [106]:
str3 = 'Python$'
print('N'in str3)

False

In [ ]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.

In [108]:
str1 = 'This is Python class'
str1[4]="Java"

TypeError: 'str' object does not support item assignment

In [ ]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [113]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator

print(str1 >= str2)

True

In [111]:
str1 = 'A'
str2 = 'A'


#Compare str1 and str2 and print True using equality operator
print(str1==str2)

True

In [114]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print False using equality operator

print(str2 != str1)

False

In [115]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print False using comparison operator

print(str1 >str2)

False

In [ ]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [118]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator
print(str1 < str2)

True

In [119]:
#Compare str1 and str2 and print True using equality operator
print(str1 != str2)

True

In [120]:
#Compare str1 and str2 and print False using equality operator
print(str1 == str2)

False

In [121]:
#Compare str1 and str2 and print False using comparison operator
print(str1 > str2)

False

In [ ]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator

In [123]:
str1 = 'A'
str2 = 65
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

print(str1 >= str2)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [125]:
#Compare str1 and str2 and print True using equality operator

print(str1 != str2)

True

In [126]:
#Compare str1 and str2 and print False using equality opertor
print(str1 == str2)

False

In [ ]:
str1= 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 anstr1d str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [127]:
str1= 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
print(str1 >= str2)

True

In [128]:
#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

True

In [129]:
#Compare str1 anstr1d str2 and print False using equality operator
print(str1 != str2)

False

In [131]:
#Compare str1 and str2 and print False using comparison operator
print(str1 < str2)

False

In [143]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
#print(a and b)
#print(a or b)

In [144]:
print(a and b)

In [139]:
print(a or b)

Python

In [145]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print()

In [146]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print()
print()
print()

In [147]:
print(a and b)

learnbay

In [148]:
print(a or b)

Python

In [149]:
print(not a )

False

In [150]:
print(not b )

False

In [ ]:

my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the total count of 't' in above string. Use find() and index() method.
print()
print()

#Write the code to get the index of '8' in my_str. Use find() and index() method.
print()
print()

#What will be the output of below code?
print(my_str.find('the'))


print(my_str.index('the'))


print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))

In [156]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

print(my_str.find('8'))
print(my_str.index('8'))

9
9

In [157]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
print(my_str.find('the'))

-1

In [158]:
print(my_str.index('the'))

ValueError: substring not found

In [159]:
print(my_str.find('t', 9, 15))

11

In [160]:
print(my_str.rfind('u'))

63

In [161]:
print(my_str.rindex('u'))

63

In [ ]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'

In [171]:
i = "  'python' "
print(i.strip())

'python'

In [170]:
i = '    Python'
print(i.rstrip())

    Python

In [172]:
i = 'Python   '
print(i.lstrip())

Python

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print()

#Write the code to convert all alphabets in my_str into lower case.
print()

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print()

In [176]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH

In [177]:
#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

although 8 that way may not be obvious at first unless you're dutch

In [178]:
#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [186]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

string = input("Enter a string: ")

if string[0].islower():
    string = string.capitalize()
else:
    string = string.title()

print(string)

Enter a string: tutort learning
Tutort learning

In [ ]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

In [190]:
string = input("Enter a string: ")
print(string.isalnum())
print(string.isalpha())
print(string.isnumeric())
print(string.islower())
print(string.isupper())
print(string.istitle())
print(string.strip())
print(string.isdecimal())

Enter a string: python123
True
False
False
True
False
False
python123
False

In [197]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'
string = input("Enter a string: ")
print(string.isidentifier())

print('...........................')

string = input("Enter a string: ")
print(string.isidentifier())

print('...........................')


string = input("Enter a string: ")
print(string.isidentifier())

print('...........................')


string = input("Enter a string: ")
print(string.isidentifier())

print('...........................')


string = input("Enter a string: ")
print(string.isidentifier())

print('...........................')


string = input("Enter a string: ")
print(string.isidentifier())

print('...........................')

Enter a string: abc
True
...........................
Enter a string: abc1
True
...........................
Enter a string: ab1c
True
...........................
Enter a string: 1abc
False
...........................
Enter a string: abc$
False
...........................
Enter a string: _abc
True
...........................

In [198]:
string = input("Enter a string: ")
print(string.isidentifier())

print('...........................')

Enter a string: if
True
...........................

In [ ]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

In [199]:
s = chr(65) + chr(97)
print(s.isprintable())

True

In [200]:
s = chr(27) + chr(97)
print(s.isprintable())

False

In [201]:
s = '\n'
print(s.isprintable())

False

In [202]:
s = ''
print(s.isprintable())

True

In [203]:
print(chr(27))



In [204]:
print(chr(97))

a

In [ ]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

In [205]:
my_string = '  '
print(my_string.isascii())

True

In [206]:
my_string = 'Studytonight'
print(my_string.isascii())

True

In [207]:

my_string = 'Studytonight@123'
print(my_string.isascii())

True

In [208]:
my_string = '°'
print(my_string.isascii())

False

In [209]:
my_string = 'ö'
print(my_string.isascii())

False

In [210]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

In [239]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)
a = 'python'
print(a.ljust(8,'*'))

#Write the code to get below output
#O/P 1:- **python (using rjust method)
b = 'python'
print(a.rjust(8,'*'))


#Write the code to get below output
#O/P 1:- **python** (using rjust method)
a = 'python**'
print(a.rjust(10,'*'))

python**
**python
**python**

In [240]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

a = 'Write a Python program to find the length of the my_str'
len(a)

55

In [241]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

a = 'peter piper picked a peck of pickled peppers.'
a.count('p')

9

In [245]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

string = "peter piper picked a peck of pickled peppers."
letter = "p"

for i in range(len(string)):
    if string[i] == letter:
        print(i)

0
6
8
12
21
29
37
39
40

In [262]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']
string = "peter piper picked a peck of pickled peppers."

output = string.split()
print(output)

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [268]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

string = "peter piper picked a peck of pickled peppers."

output = string.split()
print(output[::-1])

['peppers.', 'pickled', 'of', 'peck', 'a', 'picked', 'piper', 'peter']

In [328]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

In [327]:
str5 = 'peter piper picked a peck of pickled peppers.'
b = str5.split()
rev_str5 = ""
for i in b:
    rev_str5 = rev_str5 +' ' + i[::-1]
    c=(rev_str5.lstrip()) 
    d=(c.split())
print(d[::-1])

['.sreppep', 'delkcip', 'fo', 'kcep', 'a', 'dekcip', 'repip', 'retep']

In [339]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep

str5 = 'peter piper picked a peck of pickled peppers.'
b = str5.split()
rev_str5 = ""
for i in b:
    rev_str5 = rev_str5 +' ' + i[::-1]
    c=(rev_str5.lstrip()) 
    d=(c.split())
    g=(d[::-1])
print(g[::-1])

['retep', 'repip', 'dekcip', 'a', 'kcep', 'fo', 'delkcip', '.sreppep']

In [340]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

s = 'peter piper picked a peck of pickled peppers.'
print(s.title())

Peter Piper Picked A Peck Of Pickled Peppers.

In [347]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

s = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(s.capitalize())

Peter piper picked a peck of pickled peppers.

In [348]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

s = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(s.index('Pickl'))

29

In [352]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

s='Peter Piper Picked A Peck Of Pickled Peppers.'
print(s.replace('Peck','Pack'))

Peter Piper Picked A Pack Of Pickled Peppers.

In [364]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'

s='Peter Piper Picked A Peck Of Pickled Peppers.'
print(s.replace('Peter Piper Picked A Peck Of Pickled Peppers.' , '************Peck************'))

************Peck************